// Colors used by the 3rd party theme

// dark colors
$dark_bg: #35393c;
$dark_secondary_bg: #292c2e;
$dark_base: #4d5358;
$dark_border: #1d1f21;
$dark_header: #41464a;
$dark_fg: #eeeeec;

// light colors
$light_bg: #e6e8e8;
$light_secondary_bg: #ccd0d0;
$light_base: #fff;
$light_border: #bfc4c4;
$light_header: #d9dcdc;
$light_fg: #2e3436;

// more colors
$theme_red: if($variant == 'light', #c94f4d, #d26d6b); // error color and close button
$theme_yellow: if($variant == 'light', #deb608, #f7d02a); // warning color
$theme_blue: if($variant == 'light', #387cf0, #5c94f3); // selection color
$theme_green: if($variant == 'light', #58914a, #80b772); // success color
// $theme_cyan: if($variant == 'light', #068f75, #08b594);
// $theme_pink: if($variant == 'light', #f0387c, #f35c94);
// $theme_orange: if($variant == 'light', #eb5b22, #f08358);
