// Colors used by the 3rd party theme

// dark colors
$dark_bg: #34373a;
$dark_secondary_bg: #282b2e;
$dark_base: #3f4245;
$dark_border: #232629;
$dark_header: if($alt_header == 'false', #2c2f32, $dark_base);
$dark_fg: #eeeeec;

// light colors
$light_bg: #e8e8e8;
$light_secondary_bg: #cecece;
$light_base: #fff;
$light_border: darken($light_bg, 14%);
$light_header: #dedede;
$light_fg: #2e3436;

// more colors
$theme_red: if($variant == 'light', #c62828, #ef5350); // error color and close button
$theme_yellow: if($variant == 'light', #f9a825, #ffee58); // warning color
$theme_blue: if($variant == 'light', #0277bd, #3ea0cd); // selection color
$theme_green: if($variant == 'light', #2e7d32, #66bb6a); // success color
